folium
matplotlib
numpy
pandas
plotly
pyecharts==2.0.4
Requests==2.31.0
scikit_learn
scipy
seaborn==0.11.2
setuptools
setuptools==65.6.3
statsmodels
streamlit
streamlit_echarts==0.4.0
streamlit_folium
streamlit_globe==0.2.1
openpyxl